body {
 
margin: 0;
}

#container{

    background: skyblue;
    clear: both;
    margin: 0 auto;
    width: 85%;
    text-align: center;
    
}

#header{
    text-align: center;

}

#li{padding: 2px;
}
#logo {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 32px;
}
#headline{
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 28px;
    text-align: left;
    padding: 10px;
    background-color: aliceblue
}
#talklist{
    list-style-type:none;
}
#content{
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 20px;
    text-align: left;
    padding: 10px;
background-color: white;
    
    
}
#navbar {
    height:50px;
    clear: both;
    
}

#navbar ul {
    list-style-type:none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#navbar ul li {
    padding:10px;
   display: inline-block;
}

#navbar ul li a {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

#footer {
    font-family: 'Source Sans Pro', sans-serif;

    color:darkslategrey;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    clear:both;
}