body {
 
margin: 0;
}
#wrapper {
    text-align: center;
}
#container{

    
    clear: both;
    margin: 0 auto;
max-width: 600px;
    text-align: center;
    
}

#header{
    text-align: center;
max-width: 800px;
}
#issue {
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    border-color: deepskyblue;
   margin: 10px;
}
#solution {
    padding: 15px;
    margin: 10px;
}

ol li{
    padding: 12px;
}
#logo {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 15px;
}
#headline{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    text-align: CENTER;
    padding: 10px;
    background-color: rgba(196, 227, 253, 0.92);
}

#content{
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 20px;
    text-align: left;
 
background-color: white;
    
    
}


#footer {
    font-family: 'Source Sans Pro', sans-serif;
    color:darkslategrey;
    font-size: 14px;
    text-align: center;
    padding: 15px;
    clear:both;
}